{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" 
     href="{% static 'Semantic-UI-master/dist/components/style.css' %}">
       <!-- a:link { color: #000000; }
        a:visited { color: #000000; }
        a:hover { color: #008000; }
        a:active { color: #006400; }-->
        <!-- td {padding: 100px 20px 100px 20px;}-->

</style>
</head>

<header>
 <p><a href="{% url goto %}">SofttennisDataBase</a></p>
 <nav>
  <ul>
   <li><a href="http://www.keio-stc.com">KEIO STC</a></li>
  </ul>
 </nav>
 </header>

<body style="margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;">

<div class="resizeimage">
   <img src="{% static 'score/bg-enzin3.png' %}" style="width:100%;height:auto;">
</div>

<table cellspacing="40" align="center">
<tr>
<td>
<a href="http://localhost:8099/admin/score/game" class="square_btn">試合の登録へ</a>
</td>
<td>
<a href="{% url goto2 %}" class="square_btn">point管理画面</a>
</td>
<td>
<a href="http://localhost:8099/admin/score/player" class="square_btn">プレイヤーの追加</a>
</td>

<tr>
<td>adminより追加</td>
<td>point追加画面</td>
<td>選手を追加する</td>
</tr>

</table>

<br>
<br>

 
 
 
 
 
 
 
 
 
</body>
</html>