{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" 
     href="{% static 'Semantic-UI-master/dist/components/style.css' %}">
       <!-- a:link { color: #000000; }
        a:visited { color: #000000; }
        a:hover { color: #008000; }
        a:active { color: #006400; }-->

</style>
</head>

<header>
 <p><a href="{% url goto %}">SofttennisDataBase</a></p>
 <nav>
  <ul>
   <li><a href="http://www.keio-stc.com">KEIO STC</a></li>
  </ul>
 </nav>
 </header>

<body style="margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;">

<div class="resizeimage">
   <img src="{% static 'score/bg-enzin3.png' %}" style="width:100%;height:auto;">
</div>

<br>
<br>
<br>
<br>
{{data5}}
<script type="text/javascript" src='{% static 'score/Chart.js' %}'></script>
<div class="myChart">
<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: ["ACE", "NET", "BACKOUT", "RSIDEOUT", "LSIDEOUT", "Other"],
        datasets: [{
            label: '# of Votes',
            data:[{{IN}},{{N}},{{B}},{{RS}},{{LS}},{{T}}],
            backgroundColor: [
                'rgba(0, 0, 255,0.5)',
                'rgba(0, 255, 0,0.5)',
                'rgba(255, 0, 0,0.5)',
                'rgba(255, 70, 0,0.5)',
                'rgba(255, 98, 226,0.5)',
                'rgba(192, 192, 192,0.5)'
            ],
            borderColor: [
                'rgba(0, 0, 255,1)',
                'rgba(0, 255, 0, 1)',
                'rgba(255, 0, 0, 1)',
                'rgba(255, 70, 0, 1)',
                'rgba(255, 98, 226, 1)',
                'rgba(192, 192, 192, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {

        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        layout: {
                padding: {                          

                }
            },
            title: {                         //タイトル設定
                display: true,                 //表示設定
                fontSize: 50,                  //フォントサイズ
                text: 'ミス種類'
                }
        
   }
});
</script>
</div>

<br>
<br>
<br>
<br>
<h2>試合一覧</h2>
 
    <table class="osare2-table col5t">
   <thead>
        <tr>
            <th>ID</th>
            <th>試合名</th>
            <th>スコア</th>
            <th>後衛</th>
            <th>前衛</th>
            <th>結果</th>
        </tr>
        </thead>
    {% for item in data %}
        <tr>
           <td>{{item.id}}</td>
            <td><p>{{item.date}}</p>【{{item.gamename}}】{{item.eS}}:{{item.eV}}</td>
            <td>{{item.score}}</td>
            <td>{{item.keioS}}</td>
            <td>{{item.keioV}}</td>
            <td><a href="{% url 'analys' item.id %}">analys</a></td>
        <tr>
    {% endfor %}
    </table>
 
 
 
 
 
 
 
</body>
</html>